@import '../../../assets/styles/variables';
@import '../../../assets/styles/fonts';

.botton {
  @include ubuntu-bold;
  background-color: $button-bg-color;
  color: $white-text-color;
  text-align: center;
}
